.main-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.main-page {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.navigation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.4rem;
  gap: 4.4rem;
  width: 80%;
  align-self: center;
}

.navigation-content-title {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.sections-styles {
  margin-bottom: 20px;
}

.section-buttons-container {
  display: flex;
  flex-wrap: wrap; /* Добавляем перенос строк */
  column-gap: 3.1rem; /* Сохраняем отступы между кнопками */
  row-gap: 1.55rem;
  justify-content: center;
}

.section-buttons {
  background-color: white;
  width: auto;
  height: 2.85rem;
  white-space: nowrap;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-buttons:hover {
  background-color: #d6c9ff;
}

.section-header {
  margin-bottom: 1.85rem;
}

.agreements-container {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  cursor: pointer;
}

.agreements-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 15.35rem;
  padding: 1.25rem;
  height: 15.35rem;
  border-radius: 0.95rem;
  transition: background-color 0.3s ease; /* Плавное изменение фона */
}

.agreements-card:hover {
  background-color: #d6c9ff;
}

.agreements-card h3,
p {
  cursor: pointer;
}

